body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(159, 159, 240);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 30, 0);
    width: 50%;
    justify-content: center;
    margin: 0 auto; /* Centering the container */
    border: 5px rgb(255, 30, 0) solid;
}

.displayContainer {
    background-color: yellow;
    width: 100%;
    grid-column: span 3;
    text-align: center;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    color: black;
}

.display{
    height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}


.container > button {
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

header {
    background-color: rgb(91, 180, 91);
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 7rem;
}

header > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    height: 4rem;
}

h1 {
    color: rgb(168, 13, 13);
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

button{
    border: blue 2px solid;
    background-color: rgb(241, 241, 14);
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

button:active{
    background-color: blue;
    color: white;
}



